div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

article {
    padding: 10px 10px 10px 60px;
}

article:hover {
  background: #eee;
  cursor: pointer;
}
